body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --alarm-height: 19px;
  --indicator-width: 200px;
  --indicator-height: 100px;
}

.twin_components {
  width: calc(var(--indicator-width) * 2);
  display: grid;
  justify-content: space-between;
  grid-template-columns: var(--indicator-width) var(--indicator-width);
}

.metric_alarm_indicator {
  width: var(--indicator-width);
  height: var(--indicator-height);
  background-color: lightgreen;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
  border: 1px black solid;
  border-radius: 2px;
  position: relative;
  padding-bottom: var(--alarm-size);
  display: flex;
}

.metric_alarm_indicator.run_indicator_alarm {
  background-color: lightpink;
}

.metric_alarm_indicator .metric {
  width: 100%;
}

.alarm_message {
  font-size: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #ee3535;
  height: var(--alarm-height);
}

.metric {
  font-size: 4rem;
  font-weight: bold;
}